* {
    box-sizing: border-box;
    
}

body {
    text-align: center;
}

h1 {
    font-size: 2em;
}

section {
    
    min-height: 150px;
    padding: 2% 5% 2% 5%;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 10%;
    background-color: #bbb;
    
}

div {
    line-height: 3em;
}

button {
    display: block;
    margin: auto;
    margin-top: 1em;
}